In [16]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Applications/anaconda3/lib/python3.6/site-packages (2.8.3)

In [17]:
from column_names import col_names

In [18]:
import psycopg2  
con = psycopg2.connect(
        dbname= 'dev',
        host='examplecluster.cdbpwaymevt5.us-east-2.redshift.amazonaws.com', 
        port= '5439',
        user= 'awsuser',
        password= '47Westrange')
cur = con.cursor()

In [19]:
cur.execute("""SELECT * FROM pitches
               WHERE pitcher = 425844""")

In [20]:
import pandas as pd
df = pd.DataFrame(cur.fetchall(), columns = col_names)

In [21]:
cur.close() 
con.close()

In [22]:
df.head()

,Unnamed,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,718386,18237,CH,2010-04-05,82.7,NaN,NaN,Zack Greinke,113028.0,425844.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,
1,718374,18084,FF,2010-04-05,95.4,NaN,NaN,Zack Greinke,136722.0,425844.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,,
2,718372,18049,CU,2010-04-05,73.0,NaN,NaN,Zack Greinke,276346.0,425844.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,,
3,718370,18023,CH,2010-04-05,86.5,NaN,NaN,Zack Greinke,276346.0,425844.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,,
4,718369,18013,FC,2010-04-05,91.2,NaN,NaN,Zack Greinke,276346.0,425844.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,,